<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSinoptik" verbose="1"  parallel="false">
    <listeners>
        <listener class-name="base.TestNGListenerImpl"/>
    </listeners>
    <test name="TestSinoptik">
        <parameter name="browser" value="chrome" />
            <classes>
                <class name="TestsSinoptik"/>
            </classes>
    </test>
</suite>